<!doctype html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv=”last-modified” content=”{{ 'now' | date: '%Y-%m-%d' }}”>
    <meta name="description" content="{{ site.description }}" />
    <link href="https://fonts.googleapis.com/css?family=Muli|Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.css />
    <link rel="stylesheet" href="/assets/css/main.css" media="screen" />
    <link rel="stylesheet" href="/assets/css/main.css" media="print" />
  </head>
  <body>

    <div class="sauce__logo">
      <img src="https://saucecrm.com/assets/images/logo.png" width="200" />
    </div>

    {{ content }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.min.js" integrity="sha256-e13jRNqOX98m6UAwI/yZTpcDseJtA8s86yfFs4Sqrv8=" crossorigin="anonymous"></script>
    <script>
      new fullpage('#fullpage');
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146715127-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '');
    </script>

  </body>
</html>