<!doctype html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv=”last-modified” content=”{{ 'now' | date: '%Y-%m-%d' }}”>
    <meta name="description" content="{{ site.description }}" />
    <link href="https://fonts.googleapis.com/css?family=Muli|Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.css />
    <link rel="stylesheet" href="/assets/css/main.css" media="screen" />
    <link rel="stylesheet" href="/assets/css/main.css" media="print" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>

    <div class="sauce__logo">
      <img src="/assets/images/sauce_logo.png" />
    </div>

    {{ content }}

    <footer>
      <ul>
        <li class="sm">Copyright © 2019 SauceCRM Ltd.</li>
        <li><a href="/">Home</a></li>
        <li><a href="/privacy">Privacy</a></li>
        <li><a href="/terms">Terms</a></li>
      </ul>
    </footer>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146715127-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '');
    </script>

  </body>
</html>
